HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# 忽略 JDK 安装包
jdk-*.exe
jdk-*.msi

# 可以在这里添加其他需要忽略的文件或目录
# 例如：
# *.zip
# *.tar.gz
# node_modules/
# target/
# .idea/
# *.log
