@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1750812972176') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e60e";
}

.icon-search:before {
  content: "\e6dd";
}

