<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icss.xihu.mapper.AddressMapper">
    
    <!-- 查询所有省份 -->
    <select id="selectProvinces" resultType="com.icss.xihu.model.Address">
        SELECT DISTINCT ext_name AS province, id, name
        FROM address
        WHERE deep = '0' AND ext_name IS NOT NULL AND ext_name != ''
        ORDER BY ext_name
    </select>
    
    <!-- 根据省ID查询城市 -->
    <select id="selectCitiesByProvinceId" resultType="com.icss.xihu.model.Address">
        SELECT DISTINCT ext_name AS city, id, name
        FROM address
        WHERE pid = #{provinceId} AND deep = '1'
        AND ext_name IS NOT NULL AND ext_name != ''
        ORDER BY ext_name
    </select>
    
    <!-- 查询所有地址信息 -->
    <select id="selectAll" resultType="com.icss.xihu.model.Address">
        SELECT id, ext_name, name, pid, deep
        FROM address
        ORDER BY deep, ext_name
    </select>
    
</mapper> 